@import url('https://fonts.googleapis.com/css2?family=Inter&family=Michroma&family=Monoton&family=Poppins&family=Rubik&family=Secular+One&family=Squada+One&family=Ubuntu:wght@700&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

.form-group{
  margin:9px;
}

.signUpLayout, .logindiv{
  text-align: center;
}
.app-div{
  background-color: #e5d0cc;
}
.logindiv{
  width: 30vw;
  height:50vh;
  background-color: #95d5b2;
  border-radius: 15px;
  position: absolute;
  left: 35vw;
  top: 10vh;
}
.signUpLayout{
  width: 30vw;
  height:50vh;
  background-color: #95d5b2;
  border-radius: 15px;
  position: absolute;
  left: 35vw;
  top: 10vh;
}
.loginEmail{
  margin:10px 0px
}
.loginPassword{
  margin:10px 0px
}
.loginButton{
  height:30px;
  width: 90px;
  border-radius: 7px;
  background-color: #3a86ff;
  margin:10px 0px;
}
.signUpEmail{
  margin:10px 0px
}
.signUpPassword{
  margin:10px 0px
}
.signUpButton{
  height:30px;
  width: 90px;
  border-radius: 7px;
  background-color: #3a86ff;
  margin:10px 0px;
}
.signUpName{
  margin:10px 0px
}

.navbarcontainer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarcontainer a {
  text-decoration: none;
}

.navbarcontainer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarcontainer .inner h1 {
  color: #FFF;
  font-family: Michroma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.45px;
  margin-top: 0px;
  padding-top: 15px;
  margin: 0px 50px
}

.navbarcontainer .inner h2 {
  position:absolute;
  color: #FFF;
  font-family: Michroma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.45px;
  margin:auto;
  padding-bottom: 5px;
  right: 20px;
}

.navbarcontainer .aboutNav {
  margin: 0px;
  padding: 0px;
  padding-left: 5rem;
  padding-right: 4rem;
}
.choice{
  position:absolute;
  top:100px;
}